body {
    background: #fff;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    color: #4682b4;
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    color: #4682b4;
    font-size: 1.1em;
    font-weight: bold;
}

dt {
    color: #4682b4;
    font-size: 1em;
    font-weight: 500;
    margin: 0.6em 0;
}

dd {
    font-size: 0.9em;
    margin: 0 0 0.2em 2em;
}

.hidden {
    display: none;
}

.provlink {
    font-size: 0.7em;
    margin-left: 2em;
}